/* TODO Add site wide styles */
body{
    margin: 0px;
    background: #1b2838;
    overscroll-behavior: none;
    /* background: #171a21; */

    /* background-image: url('./images/vapor-background.png'); */
}

.text-white{
    color:white
}
.flex{
    display: flex;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.center{
    justify-content: center;
    align-items: center;
}
.just-center{
    justify-content: center;
}

.align-center{
    justify-content: center;
}

*{
    font-family:'open-sans', sans-serif
}
.clickable{
    cursor: pointer;
    /* transition: color 50ms linear, border-bottom 50ms linear; */
}

.clickable:hover {
    /* color: blue;
    border-bottom: 2px solid; */
    /* background-color: #7289DA; */
}

/* #root{
    background-image: url('./images/vapor-background.png');
} */

.main{
    max-width: 60%;
    margin: 0px auto;
}
