#navbar {
    background-color: #171a21;
}

#navbar-components {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: white;
}

.logo-container {
    max-width: 20%;
}
.drop-item{
    height: 32px;
}
.drop-item p{
    color: rgb(25, 160, 232);
    padding-left: 5px;
}
div.dropdown-menu.show {
    background-color: #171a21; /* for drop down menu color */
}
a.dropdown-item {
    color: rgba(255, 255, 255, 0.55);   /* for font color of individual drop down item */
}
a.dropdown-item:hover {
    color: white;
    background-color: #333a4b65;
}

.home-logo {
    width: 75%;
}

.main-nav {
    flex: auto
}

.nav-right {
    margin-right: 10%;
}

.cart-add-button {
    background-color: #a4d007;
    color: white;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
