.game-list-image {
    width: 100%;
    height: 100%
}

.game-list-image-container {
    width: 20%;
}

.games-list-container {
    background-image: url('../../images/vapor-background.png');
}

.indiv-game {
    /* height: 69px;
    display: flex;
    margin-bottom: 5px;
    padding-left: 10%; */

    background-color: #202d39;
    height: 40%;
    width: 60%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0px auto 5px auto ;
}

.indiv-game-nav {
    color: white;
}
