.game-list-image {
    width: 100%;
    height: 100%
}

.game-list-image-container {
    width: 20%;
    height: 80px;
}

.games-list-ctn {

}

.indiv-game {
    background-color: #202d39;
    height: 40%;
    width: 60%;
    color: white;
    display: flex;
    margin: 0px auto 5px auto;
    align-items: center;
}
.indiv-game:hover {
    background-color: #09a9edcc;
    cursor: pointer;
}

.indiv-game-nav {
    color: white;
}

.game-list-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.game-list-left-info {}

.system-icon {
    margin-left: 10px;
}

.system-icon-container {
    display: flex;
    align-items: center;
    padding-top: 4px;
}

.game-list-title {
    margin: 8px 10px 0px;
}

.logo {
    height: 14px;
    width: 16px;
}
